<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-store-grocery-item-heading">Create or edit a Store Grocery Item</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!storeGroceryItem.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="storeGroceryItem.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="storeGroceryItem.price" required/>
                    <div [hidden]="!(editForm.controls.price?.dirty && editForm.controls.price?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.price?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.price?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_favoriteInd">Favorite Ind</label>
                    <input type="checkbox" class="form-control" name="favoriteInd" id="field_favoriteInd"
                        [(ngModel)]="storeGroceryItem.favoriteInd" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_store">Store</label>
                    <select class="form-control" id="field_store" name="store" [(ngModel)]="storeGroceryItem.store"  required>
                        <option *ngIf="!editForm.value.store" [ngValue]="null" selected></option>
                        <option [ngValue]="storeOption.id === storeGroceryItem.store?.id ? storeGroceryItem.store : storeOption" *ngFor="let storeOption of stores; trackBy: trackStoreById">{{storeOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.store?.dirty && editForm.controls.store?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.store?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_item">Item</label>
                    <select class="form-control" id="field_item" name="item" [(ngModel)]="storeGroceryItem.item"  required>
                        <option *ngIf="!editForm.value.item" [ngValue]="null" selected></option>
                        <option [ngValue]="itemOption.id === storeGroceryItem.item?.id ? storeGroceryItem.item : itemOption" *ngFor="let itemOption of items; trackBy: trackItemById">{{itemOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.item?.dirty && editForm.controls.item?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.item?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
