<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="storeGroceryItem">
            <h2><span>Store Grocery Item</span> {{storeGroceryItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{storeGroceryItem.price}}</span>
                </dd>
                <dt><span>Favorite Ind</span></dt>
                <dd>
                    <span>{{storeGroceryItem.favoriteInd}}</span>
                </dd>
                <dt><span>Store</span></dt>
                <dd>
                    <div *ngIf="storeGroceryItem.store">
                        <a [routerLink]="['/store', storeGroceryItem.store?.id, 'view']">{{storeGroceryItem.store?.name}}</a>
                    </div>
                </dd>
                <dt><span>Item</span></dt>
                <dd>
                    <div *ngIf="storeGroceryItem.item">
                        <a [routerLink]="['/item', storeGroceryItem.item?.id, 'view']">{{storeGroceryItem.item?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/store-grocery-item', storeGroceryItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
